# requirements.txt

# Core ML Libraries
sentence-transformers==5.0.0
accelerate==1.9.0
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
langchain==0.3.27

# Data Handling
numpy<2.0
pandas==2.1.4

# Cloud & Utilities
google-cloud-storage==2.14.0
python-dotenv==1.0.0
pyarrow==14.0.1
psutil
tqdm
